*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Arial", "Tohoma", sans-serif;
}

.nav {
    display: inline;
    float: left;
    padding: 10px;
}

.home {
    display: block;
    background-color: lightgray;
    overflow: hidden;
    padding: 10px;
}

.title {
    text-align: center;
}

